.tooltip {
    position: relative;
    display: inline-block;
    color: #5033b6;
    border-bottom: 1px dotted #5033b6;
    cursor: helper;
}
.tip {
    visibility: hidden;
    width: 150px;
    background-color: #5033b6;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tip.active {
    visibility: visible;
    opacity: 1;
}
.tip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #5033b6;
}




.dropingson .btn {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    position: relative;
    cursor: pointer;
}
.dropingson .btn::after {
    content: ">";
    display: inline-block;
    position: absolute;
    right: 15px;
    transform: rotate(90deg) scale(0.5, 1);
    font-weight: bold;
    transition: transform 0.3s;
}
.dropingson .btn.active::after {
    transform: rotate(-90deg) scale(0.5, 1);
}
.dropingson .text {
    display: none;
}
.dropingson .text.active {
    display: block;
}
















.tabs > ul {
    padding: 0;
}
.tabs .trigger {
    list-style-type: none;
    padding: 10px;
    background: #162ba5;
    margin: 4px;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(161, 126, 226);
    transition: color 0.25s ease-in;
}
.tabs .trigger:hover {
    background-color: rgb(23, 4, 73);
    color: #fff;
}
.tabs .trigger.active {
    background: #162ba5;
    color: white;
}
.tabs .content {
    background: #fbfbfb;
    padding: 10px 20px;
    border-radius: 6px;
    display: none;
}
.tabs .content.active {
    display: block;
}




















.alert {
    width: 200px;
    padding: 20px;
    position: fixed;
    left: 50%;
    margin-left: -120px;
    top: 30px;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    background: #352191;
    text-align: center;
    color: #fff;
    margin-top: -100%;
    transition: all 0.2s;
}
.alert.active {
    margin-top: 0;
}